.wrapper {
  // position: fixed;
  width: 280px;
  height: 100vh;
  padding: 24px;
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  // bottom: 0;
}

.header {
  padding-bottom: 12px;
  border-bottom: 4px solid #f8c7cf;
  margin-bottom: 20px;
  color: #fff;
  height: 48px;
  font-size: 24px;
  font-weight: 600;
}

.category {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 8px 0;
  // font-weight: 50  0;
  align-items: center;

  .icon {
    margin-right: 12px;
  }
  &:hover {
    cursor: pointer;
    color: #1975d2;
  }
}

.img {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  background-color: var(--header-color);
}
