.wrapper {
  width: 100%;
  height: var(--header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  // background-color: rgb(64, 137, 112);
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 160px;
  // color: var(--primary);
  color: #7c0619;

  font-size: 3em;
  font-weight: bold;
  font-family: "Montez";
  margin-right: 20px;
}

.action-container {
  display: flex;
  height: 44px;
  margin-right: -20px;
  align-items: center;
}
.action {
  display: flex;
  border-radius: 50%;
  background-color: #bdbdbd;
  padding: 10.4px;
  margin-right: 20px;
  cursor: pointer;
}
.avt {
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

////////////////////////////////////~

.modal {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 380px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba($color: #000, $alpha: 0.5);
}

.modal-content {
  transform: translate(0%, 0%);
  background: #ffffff;
  // border-radius: 8px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: 100%;
  height: 100%;

  .icon {
    padding: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      cursor: pointer;
      background-color: #f3f5f9;
    }
  }
}

.header-container {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 100%;
  border-bottom: 0.8px solid var(--description-color);
}

.icon-container {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  color: rgb(15, 52, 96);
}
.checkout-container {
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  .button {
    width: 100%;
    background-color: var(--primary);
    color: #fff;
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 800px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
  .button-view {
    width: 100%;
    background-color: #fff;
    color: var(--primary);
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 800px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    cursor: pointer;
    margin-top: 12px;
    &:hover {
      color: rgb(210, 63, 87);
    }
  }
}
