.wrapper {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  // bottom: 0;
}
