.wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: #f6f9fc;
  min-height: 800px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 1240px;
  display: flex;
  flex-direction: column;

  background-color: #f6f9fc;

  width: 1250px;
  // min-height: 500px;
  padding: 24px;
  // box-shadow: var(--box-shadow);
}
