.wrapper {
  display: flex;
  flex-direction: column;
  width: 920px;
  display: flex;
  margin-bottom: 64px;
}

.container {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--header-color);
}

.description {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 28px;
  color: var(--description-color);
}

// ---------------------
.control {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.prev {
  left: -20px;
  &:hover {
    background: #e94560;
    color: white;
    cursor: pointer;
  }
}
.next {
  right: -20px;
  &:hover {
    background: #e94560;
    color: white;
    cursor: pointer;
  }
}
.icon {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
