.container {
  margin-right: 24px;
  margin-bottom: 30px;
  position: relative;
  width: var(--width-imgCard);
  max-height: 368.8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgb(3 0 71 / 9%);
  &:hover {
    box-shadow: 0px 4px 16px rgb(43 52 69 / 10%);
  }
}

.img {
  background-color: #efefef;
  width: var(--width-imgCard);
  height: var(--width-imgCard);
  padding: 20px;
  border-radius: 8px 8px 0 0;
  display: flex;
}

.info-container {
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  // font-size: 14px;
  font-weight: 600;
  color: #373f50;
  margin-bottom: 8px;
}

.price {
  margin-top: 8px;
  color: var(--primary);
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.count {
  // font-size: 16px;
  color: rgb(43, 52, 69);
  font-weight: 500;
  height: 20px;
  display: flex;
  justify-content: center;
}

.action-container {
  position: absolute;
  top: calc(calc(var(--width-imgCard) / 2) - calc(var(--width-button) / 2));
  right: 10px;
  // display: flex;
  // flex-direction: column;
  // width: 100px;
  // height: 100px;
  // justify-content: space-between;
}

.action {
}
