.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
}

.container {
  display: flex;
  justify-content: space-between;
  width: var(--default-layout-width);
  padding-left: 24px;
  padding-right: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  // background-color: rgb(61, 114, 137);
  width: 920px;
  min-height: 500px;
  padding: 24px 24px 24px 50px;
}
